<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kang.Dlife">

    <!-- 可以使用網路連線 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 網路連線狀態 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 使用 wifi網路來定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- GPS 精準定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Service 不休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".tb_page1.diary_edit.DiaryEdit$BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

        <!--facebook-->
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <!-- google 定位 務必加入 -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD5YupqW-wsHEO5gxbRISA_zNBZNW8utxI" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.kang.Dlife.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TabActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tb_page1.diary_edit.DiaryEdit"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".tb_page4.PersonData"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tb_page4.PersonLocated"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tb_page4.FacebookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tb_page4.Google"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tb_page4.GpsList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tb_page4.GpsUpload"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tb_page2.diary_view.DiaryView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tb_page1.diary_edit.GoogleMap"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tb_page2.diary_view.GoogleMap"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tb_page4.personData.ChangePassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tb_page4.personData.ChangeNickname"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tb_page4.personData.ChangeBirthday"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tb_page4.personData.ChangeGender"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tb_page3.ExchangeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tb_page3.FriendDiaryViewActivity"
            android:screenOrientation="portrait" />


        <!-- enabled : 系統可否產生Service物件 -->
        <service
            android:name=".sever.GPSService"
            android:enabled="true" />
        
    </application>

</manifest>